{
    "extends": "airbnb",
    "rules": {
        "indent": ["error", 4],
        "comma-dangle": "off",
        "import/no-absolute-path": 0,
        "import/no-unresolved": 0
    },
    "globals": {
        "window": true,
        "document": true
    }
}